doctype html
html
    head
        title Aman - Developer Portfolio
        block scripts 
        block style 
    body 
        header
            nav
                div.left Aman's Portfolio 
                div.right
                    ul
                        li #[a(href="/") Home]
                        li #[a(href="/about") About Me]
                        li #[a(href="/blog") Blog]
                        li #[a(href="/projects") Projects]
                        li #[a(href="/contact") Contact Me]

        main
            block content