extends base.pug

block scripts 
    script(src="/static/static.js") 

block style 
    style 
        include ../static/style.css
        include ../static/styleblog.css

block content 
        div.blogcontainer
            h1 Blogs by Aman - The Developer 
            div.blogitem
                h2 Learn JavaScript - in fun way!!! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus recusandae voluptate aliquam impedit dolorum repellat incidunt vel dolore et veniam nulla quidem mollitia quae unde, esse magni, iure officia quos excepturi? Dolores vero atque fuga et quas, tempore repellat.
                button.buttons Read More
            div.blogitem
                h2 Learn JavaScript - in fun way!!! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus recusandae voluptate aliquam impedit dolorum repellat incidunt vel dolore et veniam nulla quidem mollitia quae unde, esse magni, iure officia quos excepturi? Dolores vero atque fuga et quas, tempore repellat.
                button.buttons Read More
            div.blogitem
                h2 Learn JavaScript - in fun way!!! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus recusandae voluptate aliquam impedit dolorum repellat incidunt vel dolore et veniam nulla quidem mollitia quae unde, esse magni, iure officia quos excepturi? Dolores vero atque fuga et quas, tempore repellat.
                button.buttons Read More
            div.blogitem
                h2 Learn JavaScript - in fun way!!! 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, accusamus recusandae voluptate aliquam impedit dolorum repellat incidunt vel dolore et veniam nulla quidem mollitia quae unde, esse magni, iure officia quos excepturi? Dolores vero atque fuga et quas, tempore repellat.
                button.buttons Read More