extends base.pug

block scripts 
    script(src="/static/static.js") 

block style 
    style 
        include ../static/style.css
        include ../static/styleprojects.css

block content 
        | This is projects